main {
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins';
}

h2 {
  color: #487abb73;
  font-weight: 400;
}

h3 {
  color: #43afc0;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 50%;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  align-items: center;
  justify-content: center;
}

.card {
  background: linear-gradient(to left top, rgba(255, 255, 255, 1), rgba(255, 255 ,255, 0.8));
  border-radius: 1rem;
  box-shadow: 6px 6px 20px rgba(122,122,122, 0.2);
}

.card input, select, option{
  background: linear-gradient(to right top, rgb(109, 218, 226, 0.7), rgb(109, 218, 226, 0.3));
  border: none;
  width: 100%;
  border-radius: 0.3rem;
  margin: 0.5rem; 
  z-index: 5
}

.AR {
  font-weight: 600;
  color: #43afc0;
  opacity: 0.8;
}

.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  z-index: 4;
  backdrop-filter: blur(2rem);
  display: flex;
}

.circle-1, .circle-2 {
  background: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  width: 14rem;
  height: 14rem;
  position: absolute;
  z-index: 3;
  border-radius: 50%;
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 1rem;
}

.link {
  display: flex;
  margin: 1rem 0rem;
  padding: 0.5rem;
}

.link :hover {
  cursor: pointer;
}

.form {
  flex: 2;
}

.btn {
  box-sizing: border-box;
  background: linear-gradient(to right top, rgb(109, 218, 226, 0.7), rgb(109, 218, 226, 0.3));
  border: none;
  width: 70%;
  margin-top: 1rem;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.circle-1 {
  top: 5%;
  right: 15%;
}

.circle-2 {
  bottom: 5%;
  left: 10%
}

.card-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  text-align: justify;
}

.card-container p {
  padding: 8px;
}